@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color:#FFFFFF;
        color: #001931;
}


a{
    color: #111;
    text-decoration: none;
}

li{
    list-style: none;
}

.div-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:16.5px 16px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}


.div-button{
    background-color: #469165;
    border:1px solid #469165;
    margin-right: 16px;
}

.div-button img{
    margin-left:10px;
}

.div-button:hover{
    background-color: #30b868;
}

p{
    font-size: 16px;
    line-height: 24px;
}

/*------------------------------------------------------------------------------- Navbar -----------------------------------------------------------------------------*/

nav{
    width:100%;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 120px;
}

nav .menu-links ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:32px;
}


nav .menu-links ul li:hover{
    text-decoration: underline;
}

nav .nav-btn{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #469165;
    border: none;
    padding:12.5px 16px;
    border-radius: 4px;
    cursor: pointer;
}

nav .nav-btn:hover{
    background-color: #30b868;
}

/*------------------------------------------------------------------------------- Hero Section -----------------------------------------------------------------------------*/

.hero-section{
    width: 100%;
    height: 850px;
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero-inside-div{
    width:1360px;
    height: 379px;
    margin:auto;
    text-align: center;
}

.div-early-access{
    max-width:233px;
    font-size: 16px;
    padding: 8px 14px;
    background-color: white;
    color: #469165;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.div-early-access .early-access-first-dot{
    width: 16px;
    height: 16px;
    background-color:#dae9e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-early-access .early-access-second-dot{
    width: 12px;
    height: 12px;
    background-color:#9fc6af;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-early-access .early-access-third-dot{
    width: 6px;
    height: 6px;
    background-color:#469165;
    border-radius: 50%;
}



.hero-inside-div h1{
    font-size: 72px;
    font-weight: 700;
    color: white;
    margin: 16px 0;
}

.hero-inside-div h1 span{
    color: #469165;  
}

.hero-inside-div p{
    font-size: 18px;
    color: white;
    line-height: 30px;
}

.hero-section .hero-inside-div-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}


.hero-section .hero-inside-div-button button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:16.5px 16px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}



.hero-section .hero-inside-div-button-2{
    background-color: transparent;
    border:1px solid white;
}

.hero-section .hero-inside-div-button-2:hover{
    background-color: white;
    color: #001931;
}


.hero-section .hero-inside-div-button button i{
    font-size:19px;
    color: white;
    margin-right: 6px;
}

.hero-section .hero-inside-div-button-2:hover i{
    color: #001931;
}

/*------------------------------------------------------------------------------- Note Section -----------------------------------------------------------------------------*/

.note-section{
    width: 100%;
    height:500px;
    background-color: #fbfbfb;
    padding:100px 0px 0;
    text-align: center;
    overflow: hidden;

}

.note-section h1{
    font-size: 48px;
    font-weight: 700;
}

.note-section p{
    font-size: 16px;
    margin-top: 16px;
    color: #627382;
}

.note-cards-section{
    width: 1360px;
    height:300px;
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 44px auto 0;
}

.note-cards{
    width: 322px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.note-cards-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f95555;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*------------------------------------------------------------------------------- Brain Section-----------------------------------------------------------------------------*/

.brain-section{
    width: 100%;
    height: 840px;
}

.brain-section-inner-section{
    width: 1360px;
    height: 600px;
    margin:120px auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.brain-section-img img{
    vertical-align: middle;
}

.brain-section-text h2{
    font-size: 48px;
}

.brain-section-text p{
    font-size: 16px;
    margin:16px 0 40px;
    color: #627382;
}

.brain-check-inner-div{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top:16px;
}

.check-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.brain-check-inner-div p{
    color: #001931;
    margin: 0;
}


/*------------------------------------------------------------------------------- Early Access Section-----------------------------------------------------------------------------*/

.early-access-section{
    width: 100%;
    height: 384px;
    background-color: white;
}

.early-access-inner-div{
    width: 1360px;
    height: 384px;
    margin:0 auto;
    background-color: #f7f6f2;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.early-access-inner-div h2{
    font-size: 48px;
}

.early-access-inner-div p{
    font-size: 16px;
    margin-top: 16px;
    color: #627382;
    text-align: center;
}

.early-access-inner-div button{
    margin-top: 24px;
}