@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color:#FFFFFF;
    color: #111;
}


a{
    color: #111;
    text-decoration: none;
}

li{
    list-style: none;
}

nav{
    width:100%;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 120px;
}

nav .menu-links ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:32px;
}


nav .menu-links ul li:hover{
    text-decoration: underline;
}

nav .nav-btn{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #30b868;
    border: none;
    padding:12.5px 16px;
    border-radius: 4px;
    cursor: pointer;
}

